*.iml

# Gradle
.gradle/
.kotlin/
**/build/

# Android local config
local.properties
captures/
app/src/debug/AndroidManifest.xml
app/src/debug/res/xml/network_security_config.xml
app/src/debug/res/raw/zscaler_root_ca.cer

# Native build outputs
.externalNativeBuild/
.cxx/

# IDE
.idea/

# OS files
.DS_Store
